/* JobTile.css */
.job-tile {
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.job-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  padding-left: 36px;
}

.job-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.book-button {
  margin-top: 10px;
  padding: 5px 25px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.job-details {
  flex: 1;
  padding: 0 20px;
}

.job-details h2 {
  font-size: 24px;
  color: #333;
}

.job-details h3 {
  font-size: 18px;
  color: #555;
}

.job-details p {
  margin-top: 10px;
  color: #777;
}

.job-price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.job-price h3 {
  font-size: 24px;
  color: #27ae60;
}

.job-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #f39c12;
}

.job-stars {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #f39c12;
}

.star-icon {
  font-size: 20px;
  margin-right: 3px;
}
